@font-face {
	font-family:"Coquette Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/Coquette-Light.otf");
}
@font-face {
	font-family:"Filson Soft Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/FilsonSoft-Light.otf");
}
@font-face {
	font-family:"Filson Soft Book";
	font-style:normal;
	font-weight:300;
	src : url("../font/FilsonSoftBook.otf");
}
@font-face {
	font-family:"Filson Soft Light";
	font-style:italic;
	font-weight:300;
	src : url("../font/FilsonSoftLight-Italic.otf");
}
@font-face {
	font-family:"Filson Soft Light";
	font-style:oblique;
	font-weight:300;
	src : url("../font/FilsonSoftLight-Italic.otf");
}
@font-face {
	font-family:"Filson Soft Regular";
	font-style:normal;
	font-weight:normal;
	src : url("../font/FilsonSoftRegular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.inline-caption {
	border-style:solid;
}
img.inline-image {
	border-style:solid;
}
p.Body-Text_Body {
	color:#000000;
	font-family:"Filson Soft Light", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.273;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:3;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:3;
}
p.Body-Text_Body---1st-Paragraph {
	color:#000000;
	font-family:"Filson Soft Light", sans-serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.333;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:3;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:3;
}
p.Body-Text_inline-image {
	color:#000000;
	font-family:"Filson Soft Light", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:3;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:3;
}
p.Captions {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Coquette Light", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.111;
	margin-bottom:27px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chapter-Title {
	-epub-hyphens:none;
	color:#bababc;
	font-family:"Filson Soft Book", sans-serif;
	font-size:2.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.154;
	margin-bottom:50px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Chapter-number {
	color:#1a3c64;
	font-family:"Filson Soft Book", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.167;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.TOC-Items_TOC-Chapter-Name {
	color:#000000;
	font-family:"Filson Soft Light", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:small-caps;
	font-weight:300;
	line-height:1.167;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Items_TOC-Preface-Title {
	color:#bababc;
	font-family:"Filson Soft Book", sans-serif;
	font-size:2.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:0.714;
	margin-bottom:18px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Title-Page-Items_English-Cottage-Gardens {
	-epub-hyphens:none;
	color:#1a3c64;
	font-family:"Filson Soft Book", sans-serif;
	font-size:2.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.125;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Title-Page-Items_Guide-to {
	-epub-hyphens:none;
	color:#bababc;
	font-family:"Filson Soft Book", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:36px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Title-Page-Items_created-by {
	-epub-hyphens:none;
	color:#bababc;
	font-family:"Coquette Light", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.313;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:36px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Genus-Plant-Names---In-Copy {
	font-style:italic;
	font-weight:normal;
}
span.TOC-Chapter {
	color:#1a3c64;
	font-family:"Filson Soft Book", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	text-decoration:none;
	text-transform:none;
}
span.drop-cap {
	color:#1a3c64;
	font-family:"Filson Soft Regular", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.small-caps {
	font-family:"Filson Soft Light", sans-serif;
	font-style:normal;
	font-variant:small-caps;
	font-weight:300;
	text-transform:none;
}
p.ParaOverride-1 {
	text-align:right;
}
span.CharOverride-1 {
	color:#ffffff;
}
span.CharOverride-2 {
	color:#c5c5c7;
	font-size:1em;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-family:"Filson Soft Light";
}
._idGenDropcap-1 {
	color:#1a3c64;
	float:left;
	font-family:"Filson Soft Regular", sans-serif;
	font-size:4.857em;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:-0.224em;
	margin-right:0.05em;
	margin-top:-0.073em;
}
#_idContainer000 {
	height:100.00%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer001 {
	height:20.00%;
	left:0%;
	position:absolute;
	top:76.34%;
	width:100.00%;
	z-index:1;
}
#_idContainer002 {
	height:11.52%;
	left:17.24%;
	overflow:hidden;
	position:absolute;
	top:12.20%;
	width:65.52%;
	z-index:3;
}
#_idContainer003 {
	height:50.81%;
	left:17.24%;
	position:absolute;
	top:29.54%;
	width:65.52%;
	z-index:5;
}
#_idContainer004 {
	height:4.22%;
	left:17.24%;
	overflow:hidden;
	position:absolute;
	top:88.47%;
	width:44.83%;
	z-index:4;
}
#_idContainer005 {
	height:9.52%;
	left:63.84%;
	position:absolute;
	top:83.71%;
	width:27.54%;
	z-index:2;
}
#_idContainer006 {
	display:inline-block;
	padding:141.38% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer007 {
	display:inline-block;
	width:67.86%;
}
#_idContainer010, #_idContainer012 {
	display:inline-block;
	width:100.00%;
}
#_idContainer013 {
	height:85.96%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer014 {
	height:7.02%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:92.98%;
	width:100.00%;
	z-index:1;
}
#_idContainer015 {
	display:inline-block;
	padding:75% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#1a3c64;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	page-break-after:always;
	page-break-before:always;
	text-align:left;
}
div._idGenObjectLayout-3 {
	text-align:left;
}
